@import "breakpoints";

$headerHeight: 10rem;

$primary-light: #393741;
$secondary-light: #525563;
$highlight-light: #9ee1f5;
$secondary-highlight-light: #acb7f1;

$primary-light-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(145deg) brightness(111%) contrast(111%);
$highlight-light-filter: invert(15%) sepia(14%) saturate(1771%) hue-rotate(314deg) brightness(108%) contrast(94%);

* {
  margin: 0;
  padding: 0; 
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  color: $highlight-light;

  @include laptop {
    font-size: 1.3rem;
  }
}


main{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  align-items: center;
  background-color: $primary-light;


  .top {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    align-items: center;
  
    @include laptop {
      flex-direction: row;
      align-items: normal;
    }

    header{
      padding: 1rem;

      .header-column {
        display: flex; 
        flex-direction: column;
        align-items: center;
      }

      @include laptop {
        width: 20%;

        .header-column {
          position: sticky;
          align-items: normal;
          top: 0;

          .header-element{
            display: flex; 
            justify-content: flex-end;
          }
        }
        
      }

    }
    
    section{
      margin: 1rem;
      padding: 1rem;
      flex: 1;
      border-radius: 10px;
      background-color: $secondary-light;

      @include laptop {
        width: 60%;
      }
    }

    .spacer{

      @include laptop {
        width: 20%;
      }
    }
  }

  footer{
    padding: 1rem;
  }
}


button {
  border-radius: 30px;
  cursor: pointer; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 1.2rem;
  background-color: $secondary-highlight-light;
  border: none;

  img {
    filter: $primary-light-filter;
  }
}


button:hover {
  background-color: $secondary-light;

  img {
    filter: $highlight-light-filter;
  }
}

img {
  filter: $highlight-light-filter;
}

a {
  color: $secondary-highlight-light;
  text-decoration: none;
}

a:hover {
  color: $primary-light;
}

ul {
  list-style-position: inside;
  padding-left: 1.5rem;
  list-style: disc;
}

p, h1, h2, h3, ul{
  padding-bottom: 0.7rem;
}

ul, h2, h3{
  padding-top: 0.7rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

pre {
  display: block;
  margin: 0.7rem 0;
  padding: 0.7rem;
  border-radius: 10px;
  background-color: $primary-light;
}

.language-plaintext{
  padding: 0.1rem;
  border-radius: 10px;
  background-color: $primary-light;
}