@import "breakpoints";

$headerHeight: 10rem;

$color-red: #cfcfcf;

* {
  margin: 0;
  padding: 0; 
  font-size: 0.9rem;
  font-family: Helvetica, sans-serif;

  @include laptop {
    font-size: 1.1rem;
  }
}


main{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;


  .top {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    align-items: center;
  
    @include laptop {
      flex-direction: row;
      align-items: normal;
    }

    header{
      padding: 1rem;

      .header-column {
        display: flex; 
        flex-direction: column;
      }

      @include laptop {
        width: 20%;

        .header-column {
          position: sticky;
          top: 0;

          .header-element{
            display: flex; 
            justify-content: flex-end;
          }
        }
        
      }

    }
    
    section{
      margin: 1rem;
      padding: 1rem;
      flex: 1;
      width: 100%;
      border-radius: 10px;
      background-color: $color-red;

      @include laptop {
        width: 60%;
      }
    }

    .spacer{

      @include laptop {
        width: 20%;
      }
    }
  }

  footer{
    padding: 1rem;
  }
}


button {
  font-size: 1.5rem;
  border-radius: 30%;
  cursor: pointer; 
  padding: 1rem;
}


button:hover {
  background-color: $color-red;
}