@use "media/index" as media;
@use "abstracts/index" as *;

* {
  margin: 0;
  padding: 0; 
}

$text-color: var(--text-color);
$background-color: var(--background-color);
$accent-color: var(--accent-color);
$backgroud-second-color: var(--background-second-color);

body{
  background-color: $background-color;
  font-size: $normal-font-size;
  font-family: $font-family;
  color: $text-color;
  accent-color: $accent-color;

  @include media.laptop {
    font-size: 1.3rem;
  }
  
  main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
    align-items: center;


    .top {
      display: flex;
      flex: 1;
      flex-direction: column;
      width: 100%;
      align-items: center;
    
      @include media.laptop {
        flex-direction: row;
        align-items: normal;
      }

      header{
        padding: 1rem;

        .header-column {
          display: flex; 
          flex-direction: column;
          align-items: center;
        }

        @include media.laptop {
          width: 20%;

          .header-column {
            position: sticky;
            align-items: normal;
            top: 0;

            .header-element{
              display: flex; 
              justify-content: flex-end;
            }
          }
          
        }

      }
      
      section{
        margin: 1rem;
        padding: 1rem;
        flex: 1;
        border-radius: 10px;
        background-color: $backgroud-second-color;

        @include media.laptop {
          width: 60%;
        }
      }

      .spacer{

        @include media.laptop {
          width: 20%;
        }
      }
    }

    footer{
      padding: 1rem;
      color: $accent-color;
    }
  }
}

button {
  border-radius: 30px;
  cursor: pointer; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 1.2rem;
  background-color: $accent-color;

  border: none;

}


button:hover {
  background-color: $text-color;

}


a {
  color: $accent-color;
  text-decoration: none;
}

a:hover {
  color: $text-color;
}

ul {
  list-style-position: inside;
  padding-left: 1.5rem;
  list-style: disc;
}

p, h1, h2, h3, ul{
  padding-bottom: 0.7rem;
  background-color: $backgroud-second-color;
}

ul, h2, h3{
  padding-top: 0.7rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

pre {
  display: block;
  margin: 0.7rem 0;
  padding: 0.7rem;
  border-radius: 10px;
  background-color: $background-color;
}

.language-plaintext{
  padding: 0.1rem;
  border-radius: 10px;
  background-color: $background-color;
}

code {
  font-family: $font-family;
}