.light {
    --background-color: #ffc697;
    --text-color: #1a1a1b;
    --accent-color: #ff7e14;
    --background-second-color: #e0e3ee;
  }
  
.dark {
    --background-color: #1a1a1b;
    --text-color: #dbcabc;
    --accent-color: #e9a66f;
    --background-second-color: #27282c;
}