<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  </head>
  <body>
    <main>
      <div class="top">
      <header>
        <div class="header-column">
          <a href="{{'/' | relative_url}}"><img src="{{ '/assets/images/logo.svg' | relative_url }}" height="200" width="200" /></a>
        </div>
      </header>
      <section>
        {{ content }}
      </section>
      <div class="spacer"></div>
      </div>
      <footer>Thank you! -- elia</footer>
    </main>
  </body>
</html>